version: "3"

services:
  wordpress:
    build:
      context: .
      dockerfile: Dockerfile-php7.1
    image: wordpress-woocommerce-test
    volumes:
      - .:/var/www/html/wp-content/plugins/woocommerce-aws-integration
      - ./tests:/var/www/html/tests
      - ./.env.testing:/var/www/html/.env.testing
      - ./codeception.dist.yml:/var/www/html/codeception.dist.yml
    ports:
      - 8888:8888
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: test
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: password
