name: CI
on:
  push:
    branches: ["master"]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: php-actions/composer@v1
      - run: composer run lint
      - run: composer run dev
      - run: composer run test
